//carousel

.carousel{

	ul.carouselSlides{
		overflow: hidden;
		position: relative;
		height: 450px;

		li.carouselSlide{

			display: block;
			opacity: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transition: opacity 1s ease-in-out;

			&.hidden{
				display: block !important;
				opacity: 0;
			}

		}
	}

	.carouselControls{
		display: block;
	}
}

